<div class="row">
    <div class="col-md-5">
        <app-recipe-list
            (recipeWasSelected)="selectedRecipe = $event">
        </app-recipe-list>
    </div>
    <div class="col-md-7 mb-2">
        <router-outlet></router-outlet>

        <!-- Código antigo, antes do routing -->
        <!-- <app-recipe-detail
            *ngIf="selectedRecipe; else noRecipe"
            [recipe]="selectedRecipe">
        </app-recipe-detail>
        <ng-template #noRecipe>
            <p>Please select a recipe !</p>
        </ng-template> -->
    </div>
</div>